include AUTHORS.md
include LICENSE
include README.md
include requirements.txt

global-include *.txt *.md *.pyx *.pxd *.c *.h

include smrf/framework/CoreConfig.ini
include smrf/framework/.qotw
include smrf/framework/recipes.ini
include smrf/framework/changelog.in

recursive-include smrf/tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude * *.grib2.*.idx

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

include scripts/run_smrf
include scripts/gen_maxus