alabaster==0.7.10
Babel==2.5.1
certifi==2017.11.5
chardet==3.0.4
coloredlogs==6.1
coverage>=4.5.1
coveralls>=1.3.0
Cython==0.28.4
docutils==0.14
flake8==3.5.0
humanfriendly==4.6
imagesize==0.7.1
inicheck==0.3.3
Jinja2==2.10
latexcodec==1.0.5
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
mysql-connector-python-rf==2.2.2
netCDF4==1.2.9
numpy==1.14.0
oset==0.1.3
pandas==0.22.0
pbr==3.1.1
progressbar2==3.6.2
pybtex==0.21
pybtex-docutils==0.2.1
pycodestyle==2.3.1
pyflakes==1.5.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyyaml==4.2b1
requests==2.20.0
scipy==1.0.0
setuptools
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.6
sphinx-rtd-theme==0.2.5b1
sphinxcontrib-bibtex==0.3.5
sphinxcontrib-websupport==1.0.1
urllib3==1.23
utm==0.4.0
git+https://github.com/USDA-ARS-NWRC/PyKrige.git@master
spatialnc==0.2.1
